.wid{
    width: 100%;
    height: 100%;
}
.wid span, .span_color{    
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}
.myalert_css{
  min-width: 22vw!important;
  top: 60vh!important;
}
.myalert_css1{
  min-width: 55vw!important;
  top: 60vh!important;
}
.el-message-box1{
  width: 80vw!important;
}