.wid{
    width: 100%;
    height: 100%;
}
.wid span, .span_color{    
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 3px;
}
.myalert_css{
  min-width: 22vw!important;
  top: 60vh!important;
}
.myalert_css1{
  min-width: 66vw!important;
  top: 60vh!important;
}
.el-message-box1{
  width: 80vw!important;
}
.span_sou_css{
  background-color: #fafafa;
  padding:1vw;
}
.el-icon-circle-close{
  color: #fff;
}
.but_color_css{
  color:#fff!important;
  background-color: #FB1099!important;
  border: 0!important;
}
.color_css_css{
  color:#FB1099!important;
  width: 33vw!important;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}